/* .singleShop-all {
  width: 100%;
} */

.SS-orange-banner {
  display: flex;
  height: 150px;
  background-color: #d5e7e5;
  /* position: sticky; */
  top: 0px;
  margin-bottom: 50px;
  /* z-index: 8; */
}

.singleShop-header {
  /* display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1325px;
  width: 100%;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  bottom: 0px; */
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1325px;
  height: 130px;
  margin-top: 17px;
  margin-left: auto;
  margin-right: auto;
}

.shop-page-img {
  display: inline-block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 920px;
  min-width: 345px;
  max-height: 130px;
  margin-right: 25px;
}

.SS-name-description {
  display: flex;
  font-family: Cambria !important;
  flex-direction: column;
  margin-left: 22px;
  Width: 100%;
  max-height: 130px;
  word-break: break-word;
  text-overflow: ellipsis;
}

.SS-shop-name {
  Width: 100%;
  font-weight: 500;
  font-size: 24px;
}

.SS-shop-description {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  font-family: Helvetica, Arial, Sans-Serif;
  width: 75%;
  height: 75px;
}

@media only screen and (max-width: 1000px) {
  .SS-shop-name {
    Width: 90%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 845px) {
  /* .SS-name-description {
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  } */
  .SS-shop-name {
    width: 35%;
    font-size: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .SS-shop-description {
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.header-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 180px;
  min-width: 180px;
  height: 115px;
  margin-right: 1px;
  margin-left: 1px;
  /* border: 1px solid green; */
  /* float: right; */
}

.shop-option-button {
  display: flex;
  /* position: absolute; */
  justify-content: center;
  background-color: white;
  color: #F1641E;
  box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.57);
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 150px;
  /* z-index: 10 !important; */
}

.shop-option-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.57);
}

.SS-items-outer-container {
  display: flex;
  justify-content: center;
  max-width: 1325px;
  width: 100%;
  padding-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.SS-item-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 25px 25px;
}

.items-header {
  display: flex;
  max-width: 1325px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(52, 52, 52);
  width: auto;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica, Arial, Sans-Serif;
}

@media only screen and (max-width: 1415px) {
  .SS-item-cards-container {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media only screen and (max-width: 1415px) {
  .singleShop-header {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .items-header {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
}
